*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

nav{
  border: 2px solid gray;
  flex: 1;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  

}
a{
  color: aliceblue;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  
}
button{
  margin:10px;
  font-size: 20px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  background-color: rgb(10, 225, 240);
  color: white;
}
input{
  padding: 8px;
}
.name{
  margin: 0px;
  
}